body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(217, 54%, 11%);
}

main {
    transform: scale(0.8);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

section {
    width: 300px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 8px;
    padding: 20px;
}

.image-card img {
    width: 100%;
    border-radius: 8px;
}

h1{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

p{
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

h4:nth-of-type(1){
    color: hsl(178, 100%, 50%);
}

h4:nth-of-type(2) {
    color: hsl(215, 51%, 70%);
    font-weight: 600;
}

h4:nth-of-type(3) {
    color: hsl(215, 51%, 70%);
    font-weight: 600;
}

.profile {
    display: flex;
    flex-direction: row;
}

.profile img{
    width: 10%;
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 100%);
    margin-top: 10px;
}

.profile p{
    margin-left: 20px;
}

.attribution {
    color: hsl(0, 0%, 100%);
}

.attribution a{
    color: hsl(0, 0%, 100%);
}